*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: url('fondo.jpg');
    margin: 0px;
    align-content: center;
}

.contenedorindex{
    width: 100%;
    margin:0 auto;
    overflow: hidden;
    max-width: 1000px;
}

.textos-encabezado{
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 60px;
    max-width: 10000px;
    margin: auto;
    overflow: hidden;
}



.textos-encabezado h1{
    font-size: 44px;
    max-width: 10000px;
    overflow: hidden;
}

.formulario-registro {
    text-align: center;
    width: 500px;
    background: #ffffff00;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    box-shadow: 7px 13px 37px rgb(248, 248, 248);
}

.formulario-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.botones {
    width: 100%;
    background: #ffffffd8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgba(255, 255, 255, 0.589);
}